<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="tm.booup.tellme.repository.UserRepository">

  <insert id="insertUser" keyProperty="id" parameterType="TMUserEntity" useGeneratedKeys="true">
    INSERT TM_USER
    ( NAME
    , EMAIL
    , PASSWORD
    , AUTH_PIN
    ) VALUES
    ( #{name}
    , #{email}
    , #{password}
    , #{authPin}
    )
  </insert>

  <select id="findByEmail" parameterType="String" resultType="TMUserEntity">
    SELECT
    ID
    ,NAME
    ,EMAIL
    ,STATUS
    ,PASSWORD
    FROM TM_USER
    WHERE EMAIL = #{email}
  </select>

  <update id="updateUserStatus" parameterType="TMUserEntity">
    UPDATE TM_USER SET
    STATUS = 'A'
    WHERE ID = #{id}
    AND AUTH_PIN = #{authPin}
  </update>

</mapper>